@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
    font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    background: #444 url(../img/bg/bg_tile.png);
    color: #ddd;
}

body > .navbar .brand, body > .navbar .brand:hover {
    color: #ccc;
}

body > .navbar li {
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

body > .navbar li:hover {
    color: #ddd;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}

.relative {
    position: relative;
}

.node {
    position: absolute;
    background: rgba(255,255,255,0.66);
    border: 2px  solid rgba(0,0,0,0.5);
    border-radius: 4px; padding: 8px;
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow:0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.15);
    z-index: 0;
    min-width: 100px;
    min-height: 100px;
    max-width: 360px;
    max-height: 360px;
    overflow: auto;
}

.node > .subnode {
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    text-align: center;
    vertical-align: middle;
}

.node > span {
    color: #111;
    font-size: 20px;
    position: relative;
    top: 30px;
}

.jqui-dnd-item-dragging {
  border-color: green;
  -webkit-box-shadow: 0 0 5px 3px #666;
  -moz-box-shadow: 0 0 5px 3px #666;
  box-shadow: 0 0 5px 3px #666;
    z-index: 10000;
}

.controller {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    padding: 3px;
}

._jsPlumb_overlay {
    z-index:51;
}

._jsPlumb_endpoint {
    z-index:50;
    cursor:move;
}

._jsPlumb_connector {
    z-index:1;
}

#cartridges {
    position: fixed;
    overflow: visible !important;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9000;
    border-top: 1px solid #AAA;
}

#cartridges > .relative {
    width: 100%;
    height: 100%;
}

#showCartridges {
    position: absolute;
    top: -40px;
    right: 20px;
    height: 30px;
    z-index: 100;
    padding: 5px;
    background-color: #222;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}

#listCartridges {
    width: 100%;
    background: #222 url('../img/bg/grid_tile.png');
}

#listCartridges > ul {
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 100%;
    white-space: nowrap;
}

#listCartridges > ul > li {
    display: inline-block;
    margin: 3px;
    padding: 3px;
    position: relative;
    vertical-align:middle;
    border: 1px solid #474747;
    overflow: none;
    border: 1px solid #000;
}

.popover {
    z-index: 9001 !important;
    color: #000;
}

.modal {
    background: #444 url('../img/bg/grid_tile.png');
    color: #ddd;
}

.modal-header > .close {
    color: #eee;
}

.modal-footer {
    border: none;
    background: #222 url('../img/bg/grid_tile.png');
}
